body {
    background-color: #a9bfc5;
}
#p1 {
    color: #1e151f;
}
#p2 {
    color: #fddab0;
    font-weight: bold;
    font-size: 24px;
    background-color: #24b400;
}
#p3 {
    color: #065019;
    font-family: monospace;
    font-style: italic;
    text-decoration: underline;
}
#pretty {
    padding: 50vh 10%;
}
#s1 {
    font-weight: bold;
    color: #9c4608;
    font-size: 32px;
}
#s2 {
    font-style: italic;
    color: aqua;
    letter-spacing: 4px;
}
#s3 {
    background-color: azure;
}
#s4 {
    text-align: right;
}