* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: black;
    text-decoration: none;
    border: none;
    outline: none;
    border: none;
}
body {
    font-family: sans-serif;
}
/* TEXT STYLES */
h1 {
    font-size: 2.25vw;
}
h2 {
    font-size: 1.75vw;
}
h3 {
    font-size: 1.25vw;
}
h4 {
    font-size: .75vw;
}
p {
    font-size: .75vw;
}
a {
    font-size: .75vw;
}
input {
    font-size: .75vw;
}
#logo {
    font-size: 2.25vw;
    font-weight: bold;
    display: flex;
}
#red {
    color: #ff3737;
}
#blue {
    color: #4681ff;
}
#yellow {
    color: #ffc400;
}
#green {
    color: #00d13f;
}

/* MAIN LAYOUT */
#main-page {
    padding: 0vw 10vw;
}
#navbar {
    display: grid;
    align-items: center;
    grid-template-columns: .5fr 4fr 1fr;
    margin: 1.25vw 0vw;
    gap: 1vw;
}
#search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    height: 2vw;
    padding: 0vw 1vw;
    border: .1vw solid #000000;
    border-radius: 20vw;
}
#search input {
    height: 100%;
    width: 100%;
}
#search input:focus {
    height: 100%;
    width: 100%;
}
#three-columns {
    display: grid;
    grid-template-columns: 1fr 6fr 4fr;
    margin: 1.25vw 0vw;
    gap: 2vw;
}
.columns {
    display: flex;
    flex-direction: column;
}
#seller-info, #product-name, #product-info {
    margin-bottom: 1.25vw;
    padding-bottom: 1.25vw;
    border-bottom: .15vw solid #ececec;
}
.product-thmbn, #product {
    margin-bottom: 1vw;
    border-radius: .5vw;
}

/* SELLER INFO LAYOUT */
#seller-info {
    display: flex;
    flex-direction: row;
}
#seller-info div#pfp {
    width: 8%;
    border-radius: 100%;
    margin-right: 1vw;
}
#seller-info img {
    width: 100%;
    border-radius: 100%;
}
#si1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#si1 div{
    display: flex;
    flex-direction: row;
}
#si1 a {
    margin-right: 1vw;
    font-size: .75vw;
    text-decoration: underline;
}
#si1 h4 {
    margin-right: 1vw;
    font-size: .75vw;
}

/* PRODUCT INFO STYLES */
#price {
    margin-bottom: 1.25vw;
}
#product-info span {
    font-weight: bold;
}
#quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#quantity-number {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 2vw;
    height: 2vw;
    border: .1vw solid;
    border-radius: .5vw;
}
#quantity p, #quantity-number {
    margin-right: 1vw;
}
#stock {
    font-weight: bold;
    color: #ff3737;
}
#cond {
    font-weight: bold;
}

/* BUTTON STYLES */
#buttons {
    margin-top: 1.25vw;
    margin-bottom: .5vw;
    display: flex;
    flex-direction: column;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
    text-align: center;

    width: 100%;
    padding: 1vw;
    margin-bottom: .5vw;

    border: .1vw solid #4681ff;
    border-radius: 20vw;
}
.button#blank i {
    color: #4681ff;
}
.button#color {
    font-weight: bold;
    background-color: #4681ff;
    color: #ffffff;
}
#blank, #sblank {
    color: #4681ff;
}
#sblank {
    margin: 0vw;
    font-weight: bold;
    height: 2vw;
    justify-content: center;
}
#blank:hover, #sblank:hover {
    background-color: #ececec;
    transition: .2s;
}
#color:hover {
    background-color: #2a6eff;
    transition: .2s;
}

/* IMAGE STYLES */
#product {
    display: flex;
    justify-content: center;
    background-color: #ececec;
    padding: 0vw 2vw;
    height: 35vw;
    width: 100%;
}
#main-img {
    display: block;
    height: 100%;
}
.product-thmbn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    height: 5vw;
    width: 5vw;
}
.thmbn-l {
    display: block;
    width: 100%;
}
.thmbn-p {
    display: block;
    height: 100%;
}