#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    background-color: var(--primary2);
    padding-bottom: 32px;
}
#footer hr {
    width: 90vw;
}

#footer .logo span {
    color: var(--primary1);
    font-size: 32px;
}
#footer .logo {
    padding: 16px;
}

#footer .container.center {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#footer h6 {
    color: var(--white);
}
#footer .link {
    color: var(--white);
    padding: 16px 0px;
}
#footer .link:hover {
    color: var(--primary1);
}

#footer .icon i {
    color: var(--white);
    padding: 20px 24px;
}
#footer .icon i:hover {
    color: var(--primary1);
}

#copyright {
    text-align: center;
    color: var(--white);
    font-size: 8px;
}