#header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;

    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    background-color: var(--primary2);
}

#header .logo span {
    color: var(--primary1);
}

#header .pages {
    display: flex;
    flex-wrap: wrap;
}
#header .pages.left {
    justify-content: flex-start;
}
#header .pages.right {
    justify-content: flex-end;
}

#header .page {
    padding: 20px 24px;
    color: var(--white);
}
#header .page:hover {
    background-color: var(--primary1);
    color: var(--primary2);
}