* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #1b1b1b;
    text-decoration: none;
}
/* TEXT STYLES */
h1 {
    font-size: 64px;
}
p {
    font-size: 18px;
}
p.desc {
    font-size: 24px;
    padding-right: 128px;
}
p.specs {
    font-size: 20px;
    padding-right: 64px;
    font-style: italic;
}
p#cta {
    font-size: 64px;
}
a {
    font-size: 12px;
}
.white {
    color: white;
}
.black {
    color: #1b1b1b;
}
.italics {
    font-style: italic;
}
.emphasis {
    font-weight: bold;
}
.italics.white {
    color: white;
}
.italics.black {
    color: #1b1b1b;
}
.emphasis.white {
    color: white;
}
.emphasis.black {
    color: #1b1b1b;
}

/* NAVBAR STYLES */
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    background-color: #ffe600;
}
#brand-name {
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
}
.nav a {
    font-size: 20px;
    display: inline-block;
    text-align: center;
}
.nav #pages > a, 
.nav #pages .dropdown-container > a {
    background-color: transparent;
    padding: 24px 28px;
    letter-spacing: .5px;
    transition: .25s ease;
}
.nav #pages > a:hover, 
.nav #pages .dropdown-container > a:hover {
    background-color: white;
}
#pages {
    display: flex;
    flex-wrap: wrap;
}

.dropdown-container {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition:
        opacity 0.15s,
        visibility 0.15s,
        transform .75s
        ;
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
.dropdown-menu a {
    min-width: 160px;
    padding: 16px 20px;
    transition: .25s ease;
}
.dropdown-menu a:hover {
    background-color: #ffe600;
}

/* BUTTON STYLES */
.button {
    border-radius: 100vw;
    padding: 16px 20px;
    margin: 0px 20px;
    font-weight: bold;
    text-align: center;
}
.button.white {
    background-color: white;
    color: #1b1b1b;
}
.button.black {
    background-color: #1b1b1b;
    color: white;
}
.nav-btn {
    padding: 12px 16px;
}
.cta {
    font-size: 48px;
    border-radius: 100vw;
}

.image-container {
    width: 95%;
    height: 75%;
    border-radius: 40px;
}
#betsy {
    background: url("../images/betsy.jpg");
    background-size: cover;
    background-position: center center;
}
#crabs {
    background: url("../images/mr-crabs.jpg");
    background-size: cover;
    background-position: right center;
}
#loaf {
    background: url("../images/loaf.jpg");
    background-size: cover;
    background-position: center center;
}

/* LAYOUT STYLES */
.single-column {
    display: flex;
    flex-direction: column;
}
.two-column {
    display: flex;
}
.two-column.adopt {
    height: 100vh;
}
.two-column.adopt > .one {
    background-color: #ffe600;
    align-items: center;
}
.two-column > .column.one, 
.column.two {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 64px;
}
.rows {
    display: flex;
}
.description {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* HERO STYLES */
#cta-area {
    background-color: #ffe600;
    padding: 88px;
    width: 100%;
    text-align: center;
}

.hero.main {
    display: flex;
    height: 100vh;
    background: url("../images/hero-main.jpg");
    background-size: cover;
    background-position: 400px center;
}
#txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    gap: 32px;
    padding: 32px;

    color: white;
    background-color: #ffe600;
    font-size: 72px;
}

@media screen and (max-width: 907px) {
    .nav {
        padding-bottom: 10px;
    }
}

/* TABLET */
@media screen and (max-width: 768px) and (min-width: 326px) {
    .nav {
        flex-direction: column;
        padding: 16px;
    }
    .dropdown-menu {
        z-index: 1;
    }
    .nav > #pages {
        justify-content: space-evenly;
    }
    #brand-name {
        font-size: 28px;
    }
    .nav a {
        font-size: 20px;
    }
    .hero.main {
        flex-direction: column;
        background-position: center center;
        position: relative;
    }
    #txt {
        width: 100vw;
        gap: 16px;
        position: absolute;
        bottom: 0;
        align-items: center;
    }
    #txt p#cta {
        font-size: 40px;
    }
    .cta {
        font-size: 24px;
        padding: 8px 16px;
        margin: 0px 160px;
    }
    #cta-area {
        display: none;
    }

    .two-column {
        flex-direction: column;
    }
    .two-column.adopt {
        height: 0vh;
    }
    .column.one, 
    .column.two {
        align-items: center;
        text-align: center;
    }
    .two-column > .column.one, 
    .column.two {
        gap: 48px;
        padding: 32px;
    }

    h1 {
        font-size: 56px;
    }
    p.desc {
        font-size: 20px;
        padding-right: 0px;
    }
    p.specs {
        font-size: 18px;
    }

    .image-container {
        width: 75vw;
        height: 75vw;
    }
}

/* MOBILE */
@media screen and (max-width: 325px) {
    .nav {
        flex-direction: column;
        padding: 16px 0px;
    }
    #brand-name {
        font-size: 24px;
    }
    .nav #pages {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .nav a {
        font-size: 18px;
        width: 100%;
    }
    .nav #pages .dropdown-container a {
        width: 100%;
    }
    .nav #nav-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .dropdown-menu {
        z-index: 1;
    }
    .hero.main {
        flex-direction: column;
        background-position: center center;
        position: relative;
    }
    #txt {
        width: 100vw;
        gap: 16px;
        position: absolute;
        bottom: 0;
        align-items: center;
    }
    #txt p#cta {
        font-size: 32px;
    }
    .cta {
        font-size: 20px;
        padding: 8px 16px;
        margin: 0px 160px;
    }
    #cta-area {
        display: none;
    }

    .two-column {
        flex-direction: column;
    }
    .two-column.adopt {
        height: 0vh;
    }
    .column.one, 
    .column.two {
        align-items: center;
        text-align: center;
    }
    .two-column > .column.one, 
    .column.two {
        gap: 24px;
        padding: 32px;
    }

    h1 {
        font-size: 48px;
    }
    p.desc {
        font-size: 16px;
        padding-right: 0px;
    }
    p.specs {
        font-size: 12px;
    }

    .image-container {
        width: 75vw;
        height: 75vw;
    }
}